@font-face {
    font-family: papyrus;
    src: url("papyrus.ttf");
}
* {
    font-family: papyrus;
    text-align: center;
    user-select: none;
    color:white;
}
body {
    background-color: black;
    padding: 0%;
    margin: 0%;
}
header {
    font-size: 40px;
}
button {
    color:black;
}
#gray-box {
    cursor:not-allowed;
    position: fixed;
    z-index: 50;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(127, 127, 127, 0.5);
    display:none;
}
#display {
    position: fixed;
    z-index: 99;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3vw;
    background-color: #16161f;
    display:none;
}
#chance {
    position: fixed;
    z-index: 99;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #16161f;
    display:none;
    font-size:30px;
}
#roll-image {
    width:20vh;
    height:20vh;
    position: fixed;
    z-index: 99;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    display:none;
}
#inventory > div {
    font-size:15px;
    position: relative;
}
#inventory {
    position: relative;
    z-index: 10;
    margin:auto;
    border:solid white 3px;
    transform: translateY(10px);
    height:400px;
    width:300px;
    text-align: left;
    overflow-y: auto;
    pointer-events: auto;
}
#inventory > div > img {
    transition: transform 0.2s;
    display:block;
    padding:0px;
    text-align: right;
    float:right;
    width:50px;
    height:50px;
}
#roll{
    color:white;
    background-color: green;
    border: white solid 3px;
    font-size: 40px;
    border-radius: 0.5em;
    box-shadow: 
    inset 0 1px 0 0 #f4f4f4,
    0 1px 0 0 #efefef,
    0 2px 0 0 #ececec,
    0 4px 0 0 #e0e0e0,
    0 5px 0 0 #dedede,
    0 6px 0 0 #dcdcdc,
    0 7px 0 0 #cacaca,
    0 7px 8px 0 #cecece;
    width:25%;
    height:20%;
    z-index:10;
}
#roll:disabled {
    background-color: #ff0000;
    cursor: not-allowed;
}
#roll:hover {
    transform: translateY(4px);
    box-shadow: 
    inset 0 1px 0 0 #f4f4f4,
    0 1px 0 0 #efefef,
    0 1px 0 0 #ececec,
    0 2px 0 0 #e0e0e0,
    0 2px 0 0 #dedede,
    0 3px 0 0 #dcdcdc,
    0 4px 0 0 #cacaca,
    0 4px 6px 0 #cecece;
    cursor: pointer;
}
#update-log {
    border: solid white 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 300px;
    overflow-y: auto;
}
#update-log > p {
    text-align: left;
}
#toggle{
    cursor: pointer;
}
#toggle {
    transform: translateY(10px);
}
#stats {
    position: absolute;
    bottom: 0%;
    right: 0%;
}
#stats > p {
    text-align: right;
    line-height: 50%;
}
#rarest {
    position: absolute;
    font-size: 1em;
    right:0;
    top:25%;
}
#rarest > img {
    width:20vw;
    height:20vw;
}
#auto {
    position: absolute;
    transform: translate(10px,10px);
    z-index: 101;
    width:50px;
    height:50px;
    background-color: red;
    color:white;
    border:white solid 2px;
    border-radius: 20%;
    display:none;
    cursor:pointer;
}
#menu {
    z-index:200;
    position:fixed;
    text-align: center;
    padding:0%;
    margin: 0%;
    top: 0%;
    right: 0%;
}
#icon {
    margin: 0;
    padding:10px;
    padding-bottom: 0px;
    font-size:30px;
    cursor:pointer;
}
#links {
    padding:0%;
    position: absolute;
    right:0;
    width:150px;
    background-color: #cacaca;
    display:none;
}
#links > a {
    border-bottom: rgb(122, 122, 122) solid 1px;
    display:block;
    font-size:12px;
    color:black;
    padding:5px;
}
#links > a:hover {
    background-color: #373737;
    color:white;
}
#modal1 {
    overflow-y: auto;
    display:none;
    position: fixed;
    top: 50%;
    left:50%;
    background-color: #000000;
    z-index:101;
    transform: translate(-50%,-50%);
    text-align: left;
    width:50vw;
    height:50vh;
    border:solid white;
}
#modal1 > p {
    color:rgb(255, 255, 255);
}
#close1 {
    color:red;
    padding:10px;
    font-weight:bold;
    cursor:pointer;
    text-align: right;
    position: relative;
    right:0;
    top:0;
}
video {
    display:none;
    pointer-events: none;
    position:fixed;
    top:0%;
    left:0%;
    z-index: 999;
    width:100%;
    height:100%;
    cursor:none,
}
#black-bg {
    pointer-events: none;
    cursor: none;
    position: fixed;
    top:0%;
    left:0%;
    z-index: 900;
    width:100vw;
    height:100vh;
    background-color: #000000;
    display:none;
}
ul.recipe {
    list-style: disc; 
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 0;
}

ul.recipe li {
    text-align: center;
    width: 100%; 
}
@media (max-width: 768px) {
    #display{
        font-size:20px;
    }
    #roll {
        width:50%
    }
    #update-log {
        display:none
    }
    #rarest {
        display:none;
    }
}
@media (max-height:650px){
    #total,#unlocked,#time {
        display:none;
    }
}
#closing {
    overflow-y: auto;
    position: fixed;
    display: none;
    top: 50%;
    left:50%;
    background-color: #000000;
    z-index:101;
    transform: translate(-50%,-50%);
    text-align: center;
    width:50vw;
    height:50vh;
    border:solid white;
}